/*:root获取根元素html*/
:root {
  /* 全局样式 */
  --color-text: #4a4a4a;
  --color-text-title:#333;
  --color-text-light: #bebebe;
  --color-main: #54b780;
  --color-background: #fff;
  --color-avtive-background:#e3e3e3;
  --color-avtive-background-light:#f5f5f5;
  /* Header样式 */
  --color-header-background:#f8f8f8;
  --color-mac-button-red:#e65b51;
  --color-mac-button-yellow:#e9c522;
  --color-mac-button-green:#44d02a;
  /* Menu样式 */
  --color-menu-background:#eaeaea;
}

/**
* 公共css资源
*/

html,
body,
#app {
  width: 100%;
  height: 100%;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  user-select: none;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  /* width: 100vw; */
}

/* a标签初始化 */
a {
  color: var(--color-text);
  text-decoration: none;
}

/* 清除浮动 */
.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.clear-fix {
  zoom: 1;
}

/* 空间不足文本省略 */
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
