/**
* 全局样式
**/

.el-pagination {
  .display-flex(flex-end);
  margin-top: 10px;
  .el-pager{
    .number{
      &:hover{
        color: @color-main;
      }
    }
    .is-active{
      color: @color-main;
    }
  }
  .number,.btn-next,.btn-prev,.more{
    color: var(--font-color);
    background-color: var(--layout-bgcolor) !important;
  }
}


.el-tabs {
  .el-tabs__active-bar {
    background-color: @color-main !important;
  }
  .el-tabs__item {
    color: var(--font-color);
    font-weight: @font-weight-thin;
    &:hover{
      color: @color-main;
    }
    &.is-active {
      color: @color-main;
    }
  }
}

.el-loading-spinner{
  .el-loading-text{
    color: @color-main;
  }
  .path{
    stroke: @color-main;
  }
}

.el-card {
  margin-bottom: 20px;
  .el-card__header{
    background-color: var(--layout-header-bgcolor);
    color: var(--font-color-title);
    font-weight: @font-weight-bold;
  }
  .el-card__body {
    background-color: var(--layout-content-bgcolor);
  }
}

.el-descriptions{
  .el-descriptions__title{
    color: var(--font-color-title) !important;
  }
  .el-descriptions__label{
    color: var(--font-color) !important;
    background-color: var(--layout-header-bgcolor) !important;
  }
  .el-descriptions__content {
    background-color: var(--layout-content-bgcolor);
  }
}

.el-badge__content{
  transform: translateY(-90%) translateX(110%) !important;
}
