/**
* 全局样式
**/

.el-pagination {
  .display-flex(flex-end);
  margin-top: 10px;
  .el-pager{
    .number{
      &:hover{
        color: @color-main;
      }
    }
    .is-active{
      color: @color-main;
    }
  }
  .number,.btn-next,.btn-prev,.more{
    color: var(--font-color);
    background-color: var(--layout-bgcolor) !important;
  }
}


.el-tabs {
  .el-tabs__active-bar {
    background-color: @color-main !important;
  }
  .el-tabs__item {
    color: var(--font-color);
    font-weight: @font-weight-thin;
    &:hover{
      color: @color-main;
    }
    &.is-active {
      color: @color-main;
    }
  }
}

.el-loading-spinner{
  .el-loading-text{
    color: @color-main;
  }
  .path{
    stroke: @color-main;
  }
}

